S3method(.compact,ff)
S3method(.compact,ffdf)
S3method(.preparedf,data.frame)
S3method(.preparedf,list)
export(.preparedf)
export(Stack)
export(ffStack)
import(methods)
importFrom(bit,as.which)
importFrom(bit,chunk)
importFrom(bit,ri)
importFrom(ff,"nrow<-")
importFrom(ff,.vNA)
importFrom(ff,.vmax)
importFrom(ff,.vmin)
importFrom(ff,.vmode)
importFrom(ff,as.ff)
importFrom(ff,clone)
importFrom(ff,ff)
importFrom(ff,is.factor)
importFrom(ff,is.ff)
importFrom(ff,ramclass)
importFrom(ff,vmode)
importFrom(stringr,str_split_fixed)
